:root {
  --primary-bg: gray;
  --secondary-bg: rgb(150, 146, 141);
  --text-light: white;
  --text-dark: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  font-family: sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg);
  padding: 1em;
}

.logo img {
  width: 7em;
}

.navlist {
  font-size: 1.3em;
  display: flex;
  gap: 30px;
  margin: auto;
}

.navlist a {
  color: var(--text-light);
  text-decoration: none;
  transition: 0.3s;
}

.navlist a:hover {
  transform: scale(0.95);
  color: var(--text-dark);
}

.btn {
  margin: 0.5em;
}

.btn button p {
  font-size: 1em;
  padding: 1em;
  background-color: var(--text-dark);
  border-radius: 5%;
  border: none;
  transition: 0.3s;
  color: gray;
  outline: none;
  cursor: pointer;
}

.btn button p:hover {
  transform: scale(1.1);
  background-color: var(--text-light);
  color: var(--text-dark);
}
.judul-wisata h1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em;
  color: var(--text-light);
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 8px;
  background-color: var(--text-light);
  margin: 1em;
  max-width: 25em;
  padding: 0.5em;
}
.card img {
  width: 100%;
  padding: 1.3em;
}
.card h3 {
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  margin: 0 0.5em 0;
}
.card p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  flex-grow: 1;
  margin: 0.5em;
}
.card ul {
  padding-left: 2em;
  font-family: sans-serif;
  margin-top: 3em;
}

.card ul li {
  font-size: 0.9em;
  padding: 0.2em 0;
  margin: 0.5em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  background-color: white;
}
